* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #F3DFC1;
}

h1 {
  background-color: #F3DFC1;
  color: #161616;
  height: 5rem;
  line-height: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline;
  font-size: 50px;
  
}

.choice {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  transform: scale(1.05);
}

.choice {
  transition: 0.2s ease;
}

img {
  height: 175px;
  width: 175px;
  object-fit:cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
  font-family: monospace;
}

.msg-container {
  margin-top: 5rem;
  font-family: cursive;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}